td {
	width: 100px;
	height: 100px;
}

td:nth-of-type(2) {
	border-left: 2px solid;
	border-right: 2px solid;
}

tr:nth-of-type(2) td {
	border-top: 2px solid;
	border-bottom: 2px solid;
}

h1	{
	text-align: center;
}

table {
	margin: 0 auto 0 auto;
}